body {
    font-family: system-ui;
    background: #4821c8;
    color: white;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    font-variant: small-caps;
    
  }

  